{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'project_app/css/styles.css' %}">
    <title>Ludiflex | Login and Registration</title>
</head>

<body>
    <div class="wrapper">
        <nav class="nav">
            <div class="nav-logo">
                <p>LOGO .</p>
            </div>
            <div class="nav-menu" id="navMenu">
                <ul>
                    <li><a href="#" class="link active">Home</a></li>
                    <li><a href="#" class="link">Blog</a></li>
                    <li><a href="#" class="link">Services</a></li>
                    <li><a href="#" class="link">About</a></li>
                </ul>
            </div>
            <div class="nav-button">
                <button class="btn white-btn" id="loginBtn" onclick="logiin()">Sign In</button>
                <button class="btn" id="registerBtn" onclick="regiister()">Sign Up</button>
            </div>
            <div class="nav-menu-btn">
                <i class="bx bx-menu" onclick="myMenuFunction()"></i>
            </div>
        </nav>

        <div class="form-box ">


            <div class="login-container" id="login">
                <div class="top">
                    <span>Don't have an account? <a href="#" onclick="regiister()">Sign Up</a></span>
                    <header>Login</header>
                </div>
                <form method="post" action="api/login/">
                    {% csrf_token %}
                 <div class="input-box">
                    <input type="text" class="input-field" placeholder="Username or Email" id="login-username">
                    <i class="bx bx-user"></i>
                 </div>
                 <div class="input-box">
                    <input type="password" class="input-field" placeholder="Password" id="login-password">
                    <i class="bx bx-lock-alt"></i>
                 </div>
                 <div class="input-box">
                    <!--<input type="submit" class="submit" value="Sign In">-->
                    <button class="submit" >login</button>
                 </div>
                 <div class="two-col">
                     <div class="one">
                        <input type="checkbox" id="login-check">
                        <label for="login-check"> Remember Me</label>
                     </div>
                     <div class="two">
                        <label><a href="#">Forgot password?</a></label>
                     </div>
                 </div>
                </form>
            </div>

            <div class="register-container" id="register">
              <div class="top">
                    <span>Have an account? <a href="#" onclick="logiin()">Login</a></span>
                    <header>Sign Up</header>
              </div>
              <form method="post" action="api/register/">
                    {% csrf_token %}
                <div class="input-box">
                    <input type="text" class="input-field" placeholder="Username" id="signup-username">
                    <i class="bx bx-user"></i>
                </div>
                <div class="input-box">
                    <input type="text" class="input-field" placeholder="Email" id="signup-email">
                    <i class="bx bx-envelope"></i>
                </div>


                <div class="two-forms">
                    <div class="input-box">
                        <input type="password" class="input-field" placeholder="Password" id="signup-password">
                        <i class="bx bx-lock-alt"></i>
                    </div>

                    <div class="input-box">
                        <input type="password" class="input-field" placeholder="Confirm Password" id="signup-password2">
                        <i class="bx bx-lock-alt"></i>
                    </div>

                </div>

                <div class="wrapperr">
                    <input type="radio" name="select" value="student" id="option-1" checked>
                    <input type="radio" name="select" value="teacher" id="option-2">
                    <label for="option-1" class="option option-1">
                        <div class="dot"></div>
                        <span>Student</span>
                    </label>
                    <label for="option-2" class="option option-2">
                        <div class="dot"></div>
                        <span>Teacher</span>
                    </label>
                </div>

                <div class="input-box">
                    <button class="submit" onclick="register()">register</button>
                </div>
                <div class="two-col">
                    <div class="one">
                        <input type="checkbox" id="register-check">
                        <label for="register-check"> Remember Me</label>
                    </div>
                    <div class="two">
                        <label><a href="#">Terms and conditions</a></label>
                    </div>
                </div>
               </form>
            </div>
        </div>
    </div>


    <script src="{% static 'project_app/js/script.js' %}"></script>

</body>

</html>